<div local-class="display-box">
  <div local-class="display-box-header">
    <UiHeader
        @text={{@text}}
        @style="ui-secondary-header"
      />
  </div>
  <div local-class="display-box-body">
    {{yield}}
  </div>
</div>
