<footer local-class="ui-footer-container">
  <p data-test-footer-text>{{@start}} <FaIcon local-class="heart-icon" @icon="heart" @size="xs"/> {{@end}}</p>
  <img
    data-test-footer-img
    local-class="ui-footer-img"
    src={{@src}}
    alt={{@alt}}
  />
</footer>
