@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;1,100&display=swap');

body {
  background: var(--ash-2);
  color: var(--ash-8);
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0;
}

.application-container {
  min-height: 100vh;
  position: relative;
}
