.option-button {
  background-color: var(--birch-2);
  border: none;
  border-radius: 20px;
  color: var(--white);
  cursor: pointer;
  font-size: 18px;
  height: 140px;
  margin: 20px;
  outline: none;
  padding: 20px;
  width: 260px;
}

.option-button:hover {
  transform: scale(1.05);
  background-color: var(--birch-3);
}

.question-card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.next-button {
  align-items: center;
  background-color: var(--navy);
  border-radius:20px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  min-width:150px;
  text-decoration: none;
}
