.ui-header-container {
  background-color: var(--navy);
  box-shadow: 0 20px 20px 0 var(--black-20pc);
  color: var(--ember-orange);
  display: flex;
  height: auto;
  width: 100%;
}

.ui-secondary-header {
  background-color: var(--white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: none;
  color: var(--ash-8);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  width: auto;
}

.ui-secondary-header p {
  margin: 15px;
}

.ui-header-img {
  height: 55px;
  padding: 20px;
}
